.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}

body {
  padding: 0;
  margin: 0;
  background-color: #f4e9c9;
}

img {
  max-height: 95px;
  width: 90px;
  margin-left: 30px;
}