/* In alphabetical order */

@media only screen and (max-width: 1260px) {
    .Navbar .HA {
        display: none;
    }
}

@media only screen and (max-width: 753px) {
    .Navbar .language {
        flex-direction: column;
    }
    .Navbar .language button {
        height: 30%;
        padding: 0px;
    }
}

.EventsPg {
    margin-top: 20px;
    margin-left: 20px;
}

.EventsPoster { 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.EventsPoster button {
    background-color: #DC7F2F ;
    height: 40px;
    width: 20%;
    color: white;
    border-style: solid;
    border-radius: 10px;
}

.EventsPoster button:hover {
    background-color: #d7b08e;
}

.EventsPoster img {
    width: 30%;
    padding: 5px;
}

.EventsRegBtn {
    padding: 20px;
    background-color: #DC7F2F;
    border-radius: 10px;
}

.Footnote {
    width: 100%;
    height: 300px;
    background-color: rgba(147, 147, 147, 0.707);
    margin-bottom: 0%;
}

.Footnote .Text {
    margin-left: 5%;
    margin-top: 10px;
    color: white;
}

/* Login on top of navbar */

.Login {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Login img {
    height: 300px;
    margin-bottom: 0%;
    width: 60%;
    overflow: hidden;
    display: block;
}

.Login .Block {
    height: 300px;
    width: 568px;
    background-color: #cd3f32;
}

.Login .Block button {
    margin-top: 20px;
    border: 1px solid white;
    color: white;
    background-color: #cd3f32;
    padding: 10px;
}

.Login .Block button:hover {
    background-color: #d7b08e;
}

.Login .Block h1 {
    color: white;
}

.Login .Block p {
    color: white;
}

/* Login on top of navbar ends */

/* Login in footnote */

.Login2 {
    float: right;
    margin-top: -40px;
    text-align: center;
    margin-right: 5%;
}

.Login2 button {
    margin-top: 20px;
    border: 1px solid white;
    color: white;
    background-color: rgb(181, 178, 178);
    padding: 10px;
}

.Login2 button:hover {
    background-color: grey;
}

.Login2 h1 {
    color: white;
}

.Login2 p {
    color: white;
}

/* Login in footnote ends */

.Navbar {
    width: 100%;
    height: 100px;
    background-color: #cd3f32;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}

.Navbar .HA {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    margin-left: 40px;
    color: white;
    font-size: 3.9em;
    margin-top: 10px;
    white-space: nowrap;
}

.Navbar .Logo img {
    max-height: 95px;
    width: auto;
    margin-left: 30px;
}

.Navbar .Logo img:hover {
    background-color: rgba(195, 195, 195, 0.749); /* for now so it's easier to see if hovered or not */
}

.Navbar .language {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.Navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.Navbar .rightSide a {
    border: 1.5px solid white;
    padding: 15px;
    text-decoration: none;
}

.Navbar .rightSide a:hover {
    background-color: rgba(195, 195, 195, 0.749);
}

.Navbar .rightSide a:visited {
    text-decoration: none;
    color: white;
}
